body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbardesk {
  display: none;
}

.mainpage {
  background-image: url(Frame/Frame4.svg), url(Frame/Frame3.svg), url(Frame/Frame2.svg), url(Frame/Frame1.svg), url(Frame/Group35.svg), url(Frame/Group36.svg), url(Frame/Group37.svg), url(Frame/Group38.svg);
  background-position: -80% 50%, 100% 10%, 40% 70%, 100% 100%, 50% 50%, 100% 50%, 0% 70%, 10% 30%;
  background-repeat: no-repeat;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vector:hover:enabled {
  transform: rotate(90deg);
  background-color: #fff;
}

.chevron {
  margin-top: 150px;
  max-width: fit-content;
  align-self: center;
}

button {
  background-color: transparent;
  border: none;
  color: #505f79;
  transition-duration: 1s;
}

form button {
  margin-left: 110px;
}

a {
  color: #505f79;
  text-decoration: none;
}

button:hover:enabled {
  background-color: #a2b4d354;
}

button:active:enabled {
  color: #0cb653;
}

li {
  list-style: none;
}

i {
  font-size: 20px;
}

.welcome {
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.vector {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #28352f;
}

.headline {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  text-align: center;
  flex-direction: column;
  animation: headAnimation 2s;
}

@keyframes headAnimation {
  50% {
    transform: scale(1.1);
  }
}

.black {
  color: #172b4d;
}

.green {
  color: #36b37e;
  margin-top: -40px;
  font-size: 45px;
}

.content {
  margin-bottom: 200px;
  padding-bottom: 40px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  text-align: center;
}

.sociallinks > * {
  padding-left: 5px;
  padding-right: 10px;
}

.sociallinks1 > * {
  padding-right: 15px;
}

.sociallinks {
  display: flex;
  justify-content: center;
  margin-top: -110px;
  margin-left: -20px;
}

.sociallinks1 {
  display: flex;
  justify-content: center;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.headblack {
  color: #172b4d;
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  margin-bottom: 100px;
}

img:hover {
  transform: scale(1.04);
  transition-duration: 1.5s;
}

.chevron img {
  width: 40px;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a:hover {
  color: #0cb653;
  transition-duration: 1s;
}

.works {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: auto;
  display: flex;
  flex-direction: column;
}

.cards img {
  width: 327px;
  height: 252px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.cards > * {
  max-width: 329px;
  max-height: 476px;
  border-radius: 2%;
  border-color: #abb4b1;
  border-style: solid;
  border-width: 1px;
  grid-column-start: 2;
}

.cards {
  display: grid;
  grid-template-columns: auto 329px auto;
  row-gap: 24px;
  column-gap: 26px;
}

.cardtitle {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.categories {
  display: flex;
  justify-content: space-around;
}

.categories li {
  padding: 7px;
  margin-left: -37px;
  margin-top: -30px;
  font-size: 12px;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 10%;
}

.seeproject {
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 12px;
  font-size: 17px;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

.cardinf {
  display: flex;
  flex-direction: column;
}

.presentme {
  background-image: url(aboutmeBackground/illustration1.svg), url(aboutmeBackground/illustration2.svg);
  background-position: 100% 0%, 0% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.myself {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: auto;
  display: flex;
  flex-direction: column;
}

.headblack1 {
  color: #172b4d;
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
}

.finaltext {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.cv {
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  padding: 12px;
  font-size: 17px;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 25px;
  text-decoration: none;
}

.cv:hover {
  background-color: #a2b4d354;
}

.cv:active {
  color: #0cb653;
}

.ilustrationme > * {
  max-width: 329px;
  min-height: 332px;
  border-radius: 2%;
  border-color: #abb4b1;
  background-color: #ebf0ee;
  border-style: solid;
  border-width: 1px;
  grid-column-start: 2;
}

.ilustrationme {
  display: grid;
  grid-template-columns: auto 329px auto;
  row-gap: 24px;
}

.categoriesme {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
}

.categoriesme li {
  padding: 12px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 12px;
  color: #36b37e;
  background-color: #fff;
  border-radius: 10%;
}

.cardme {
  display: flex;
  flex-direction: column;
}

.cardme img {
  margin-top: 40px;
  width: 120px;
  height: 120px;
  align-self: center;
}

.cardmetitle {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.contact {
  background-image: url(Form/illustration-contact-form.svg);
  background-position: 100% 67%;
  background-repeat: no-repeat;
  max-width: 375px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.social1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  height: 48px;
}

input,
textarea {
  font: sans-serif;
  width: 327px;
  margin-bottom: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding-left: 16px;
}

input::placeholder {
  font-size: 15px;
}

textarea::placeholder {
  font-size: 15px;
  color: #000;
}

textarea {
  height: 114px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.contact ul {
  padding-left: 0;
}

.contact header {
  width: 370px;
  align-self: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailto {
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  padding-bottom: 300px;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(desktopBackground/Frame.svg), url(desktopBackground/illustration-2-contact-form-desktop.svg), url(desktopBackground/Frame-1.svg), url(desktopBackground/illustration-about-me-2-desktop.svg), url(desktopBackground/illustration-about-me-desktop.svg);
    background-position: 100% 98%, 30% 95%, 0% 98%, 0% 60%, 100% 60%;
    background-repeat: no-repeat;
  }

  .mainpage {
    background: none;
    background-image: url(desktopBackground/Header-llustration-desktop.svg);
    background-position: 40% 0%;
    background-repeat: no-repeat;
    max-width: max-content;
  }

  .toolbar {
    display: none;
  }

  .toolbardesk {
    align-self: center;
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    margin-bottom: 166px;
    margin-top: 20px;
  }

  .content {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
    text-align: center;
    max-width: 50%;
    align-self: center;
  }

  .social {
    margin-top: -90px;
    margin-bottom: 500px;
  }

  .works {
    max-width: max-content;
    min-height: auto;
  }

  .cards img {
    width: 369px;
  }

  .cards > * {
    max-width: 369px;
    max-height: 476px;
  }

  .c1 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .c2 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .c3 {
    grid-column-start: 4;
    grid-row-start: 1;
  }

  .c4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .c5 {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .c6 {
    grid-column-start: 4;
    grid-row-start: 2;
  }

  .cards {
    display: grid;
    grid-template-columns: auto 372px 372px 372px auto;
  }

  .myself {
    margin-top: 186px;
    max-width: max-content;
  }

  .finaltext {
    max-width: 50%;
    align-self: center;
  }

  .ilustrationme > * {
    max-width: 369px;
    min-height: 332px;
  }

  .presentme {
    background: none;
  }

  .cm1 {
    grid-column-start: 2;
  }

  .cm2 {
    grid-column-start: 3;
  }

  .cm3 {
    grid-column-start: 4;
  }

  .ilustrationme {
    display: grid;
    grid-template-columns: auto 372px 372px 372px auto;
    column-gap: 24px;
  }

  .contact {
    background: none;
    max-width: 1200px;
    margin-top: 184px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .social1 {
    min-width: 100%;
    margin-top: 237px;
  }

  input,
  textarea {
    width: 668px;
  }

  input:hover,
  textarea:hover {
    border-color: green;
    transform: scale(1.04);
    transition-duration: 1.5s;
  }

  form button {
    margin-left: 0;
  }

  .contact header {
    margin-top: -120px;
    min-width: 40%;
  }

  .contact .headblack1 {
    font-size: 29px;
  }

  .contact form {
    min-width: 60%;
  }

  .mailto {
    display: none;
  }

  .sociallinks1 {
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid #d0d9d4;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 768px) {
  .cards img {
    width: 327px;
  }

  .c1 {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .c2 {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .c3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .c4 {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .c5 {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .c6 {
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .cards {
    display: grid;
    grid-template-columns: auto 329px 329px auto;
  }

  .cm1 {
    grid-column-start: 2;
  }

  .cm2 {
    grid-column-start: 3;
  }

  .cm3 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .ilustrationme {
    display: grid;
    grid-template-columns: auto 329px 329px auto;
    column-gap: 24px;
  }

  .contact {
    background: none;
    max-width: max-content;
    display: flex;
    flex-direction: column;
  }

  .contact header {
    min-width: 70%;
  }
}
